{% extends "base.html" %}
{% load staticfiles i18n wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}
{% block title %}
  {{ page.title }}
{% endblock %}
{% block content %}
<div class="section">
  <div class="flexbox">
    <div class="div-block-2">
      <img class="image" sizes="(max-width: 479px) 77vw, (max-width: 767px) 73vw, 371px" src="{% static 'images/VIRGIN-logo.png' %}" srcset="{% static 'images/VIRGIN-logo.png' %} 500w, {% static 'VIRGIN-logo.png' %} 742w" width="371">
    </div>
    <div class="form-block w-form coming-soon">
      {{ form.non_field_errors }}
      <form class="form" action="." method="post">
        {% csrf_token %}
        {{ form.email}}
        {{ form.number }}
        <input class="submit-button w-button" data-wait="Please wait..." type="submit" value="Submit">
      </form>

        {% if form.number.errors %}
        <div class="errors" id="errors">
          {{ form.number.errors }}
        </div>
        {% endif %}
    </div>
    <h4 class="address">1301 Ocean Front Walk #17<br> Venice, CA 90291</h4>
  </div>

</div>
{% endblock %}
