{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <div class="container">
        <section class="main-content contact-posts">
            <div class="container">
                <div class="row">
                    <div class="post-contact">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="contact-form">
                                    <div class="line-box"></div>
                                        <h1 class="login-title">{% trans "Password Reset" %}</h1>
                                        <div class="line-box"></div>
                                        {% if user.is_authenticated %}
                                        {% include "account/snippets/already_logged_in.html" %}
                                        {% endif %}
                                        <div class="spacer-small"></div>
                                        <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
                                        <div class="spacer-small"></div>
                                </div><!-- contact-form -->
                            </div><!-- col-md-6 -->

                            <div class="col-md-6">
                                <div class="container">
                                <div class="line-box"></div>
                                    <div class="row">

                                    </div>
                                </div><!-- /container-fluid -->
                            </div>
                        </div><!-- /row-->
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
